*{
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar{

  display: flex;
  justify-content: space-around;
  background-color: #122620;
  padding: 1%;
}

.navhead{
  color: white;
  font-size: 200%;
  padding: 1%;
}

.ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1%;
}

.li, a{
  text-decoration: none;
  color: white;
  
  padding: 1%;
}

body{

  background-color: #F4EBD0;
}

.box{

  width: 100%;
  background-color: #D6AD60;
  padding-bottom: 3%;
  
  
  
  
}

.box h1{
  padding: 2%;
  padding-bottom: 0.5%;
  text-align: center;
  font-size: 200%;
}

.box h2{

  font-size: 80%;
  text-align: center;

}

.road{
padding: 2%;
background-color: grey;
display: flex;
justify-content: space-evenly; }


.dash{ 

padding: 0.5%;
padding-right: 3%;
background-color: white;


}


  
.about {

  width: 66%;
  margin-left: 16.67%;
  margin-right: 16.67%;
  margin-top: 3%;


}



.about ul{
  list-style: square;
  margin-top: 2%;
}

.footer{
  bottom: 0;
  background-color: #122620;
  padding: 1%;
  margin-top: 9.8%;
  color: white;
  text-align: center;
  
}
